obj_dir/
verilator/
*.vcd
*.bat
db/DE1_SoC-ThinkPad-2.db_info
db/DE1_SoC-ThinkPad-3.db_info
db/DE1_SoC-ThinkPad.db_info
db/DE1_SoC.(0).cnf.cdb
db/DE1_SoC.(0).cnf.hdb
db/DE1_SoC.analyze_file.qmsg
db/DE1_SoC.cbx.xml
db/DE1_SoC.cmp.rdb
db/DE1_SoC.cmp_merge.kpt
db/DE1_SoC.db_info
db/DE1_SoC.hier_info
db/DE1_SoC.hif
db/DE1_SoC.lpc.html
db/DE1_SoC.lpc.rdb
db/DE1_SoC.lpc.txt
db/DE1_SoC.map.ammdb
db/DE1_SoC.map.bpm
db/DE1_SoC.map.cdb
db/DE1_SoC.map.hdb
db/DE1_SoC.map.kpt
db/DE1_SoC.map.logdb
db/DE1_SoC.map.qmsg
db/DE1_SoC.map.rdb
db/DE1_SoC.map_bb.cdb
db/DE1_SoC.map_bb.hdb
db/DE1_SoC.map_bb.logdb
db/DE1_SoC.pre_map.hdb
db/DE1_SoC.root_partition.map.reg_db.cdb
db/DE1_SoC.rtlv.hdb
db/DE1_SoC.rtlv_sg.cdb
db/DE1_SoC.rtlv_sg_swap.cdb
db/DE1_SoC.sld_design_entry.sci
db/DE1_SoC.sld_design_entry_dsc.sci
db/DE1_SoC.smart_action.txt
db/DE1_SoC.tis_db_list.ddb
db/DE1_SoC_partition_pins.json
db/prev_cmp_DE1_SoC.qmsg
DE1_SoC.qpf
DE1_SoC.qsf
DE1_SoC.qws
DE1_SoC.sdc
DE1_SoC.srf
DE1_SoC_golden_top.sdc
gamma.sv
gamma_block.sv
gamma_f.sv
incremental_db/compiled_partitions/DE1_SoC.db_info
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.cdb
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.dpi
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.hdb
incremental_db/compiled_partitions/DE1_SoC.root_partition.map.kpt
incremental_db/README
mont_exp.vcd
montcios.sv
montexp.sv
montgomery_cios.vcd
our.sv
output_files/DE1_SoC.done
output_files/DE1_SoC.flow.rpt
output_files/DE1_SoC.map.rpt
output_files/DE1_SoC.map.smsg
output_files/DE1_SoC.map.summary
ProgramTheDE1_SoC.cdf
testbench.sv.bak
transcript
vsim.wlf
wave.do
wave.vcd
wlft01m0tv
wlft064hgt
wlft070hj0
wlft0bar2x
wlft0bmd8e
wlft0xiw2v
wlft0z4dg1
wlft1751dj
wlft1f4kig
wlft1fnjx8
wlft1gw2mc
wlft1i4n1a
wlft1tgf9y
wlft1vcq65
wlft1y1s2z
wlft1zzkhj
wlft259rsf
wlft28d1wt
wlft28neni
wlft2da0fc
wlft2ifjt9
wlft2mfck2
wlft2qk1eh
wlft2v0r7v
wlft2y449b
wlft30gwm8
wlft31swgf
wlft3ct7k6
wlft3e3c6g
wlft3fi2ng
wlft3gx7w3
wlft3jrq2j
wlft3kzjfn
wlft3r64zd
wlft3rmw6f
wlft3taq9r
wlft4ei10g
wlft4gcn37
wlft4ij2h1
wlft4qni4s
wlft4ticfb
wlft4z82wk
wlft54aza5
wlft56b8z0
wlft5avcm9
wlft5cq5bf
wlft5dyawf
wlft5g6n0c
wlft5ht1vw
wlft5kcx4z
wlft5tirid
wlft5vx54k
wlft5wktj6
wlft5zsnhm
wlft61nf61
wlft62kstb
wlft62yv70
wlft66g28d
wlft68vcbf
wlft69jnhq
wlft6d4w25
wlft6dtsm9
wlft6ehk50
wlft6gkwc3
wlft6h2i9k
wlft6jm5zi
wlft6mbjqh
wlft6s7qjw
wlft6t7ie7
wlft6tzhv2
wlft6vwn8z
wlft6yc4s0
wlft72d8s2
wlft755ia8
wlft7bynra
wlft7cm766
wlft7enbj6
wlft7jz0hv
wlft7kfs00
wlft7snm7r
wlft7x91ef
wlft80iivg
wlft82svcx
wlft857baf
wlft861qnc
wlft8dtfe9
wlft8z81n2
wlft8zazdh
wlft909mfb
wlft9677zf
wlft9i1fgs
wlft9jm5z7
wlft9wb15b
wlft9z0gzj
wlfta9j1s4
wlftacyiwg
wlftawq5gz
wlftawrzab
wlftawtabv
wlftazssz6
wlftb0vgyq
wlftb8af5f
wlftbaqcqm
wlftbhqctv
wlftbjghkr
wlftbtevsz
wlftbvstix
wlftbw8a10
wlftc1x9rh
wlftc446it
wlftc61g3y
wlftc6myrv
wlftc82git
wlftc8j4q5
wlftcrdha7
wlftcta432
wlftctzdqg
wlftcwmbb0
wlftd6z0ck
wlftdb120v
wlftddmwbt
wlftde20xw
wlftdeectj
wlftdj1mt1
wlftdmffcg
wlftdn7mqe
wlfte4vgs7
wlftedqdh8
wlftewqfxy
wlftey5j6e
wlftf04c6x
wlftf0ci5h
wlftf51ayx
wlftf7wtq2
wlftfh8xqf
wlftfq0keb
wlftfr34gc
wlftfx5k8x
wlftg3d18f
wlftgcgzwk
wlftgi61jg
wlftgjk8dw
wlftgn3cg4
wlftgtchvv
wlftgwt3j1
wlfth0jnx0
wlfth1ea36
wlfthedv6y
wlfthfmw7e
wlfthk8th2
wlfthtmmyh
wlfthwyaic
wlfti2ri10
wlfti35a2q
wlfti5ik9g
wlfti8d3it
wlfti9k1x4
wlfti9qqw3
wlftiasa7m
wlfticqsym
wlftigj5e5
wlftijeqrg
wlftikm8cz
wlftiqmttg
wlftiv8nkk
wlftiv9vmb
wlftiwezbr
wlftj489yd
wlftj5000d
wlftj60mhd
wlftjaksv9
wlftjbzb3f
wlftjdfmwj
wlftjh5mah
wlftjjmqdq
wlftjsv6h8
wlftjx5igb
wlftjxezw8
wlftk0di4q
wlftk0yj7r
wlftk12vqb
wlftk1gk8t
wlftk249xd
wlftk96s7v
wlftkf04rt
wlftkfs6f4
wlftkhvar6
wlftkk49qq
wlftkqk256
wlftks24sk
wlftm55x1d
wlftm6x9mn
wlftm89f3f
wlftmj0zsz
wlftmkagmn
wlftmmc4vn
wlftmnmixf
wlftmymmnd
wlftn3sbjx
wlftn408dr
wlftndkzjy
wlftnfdgtx
wlftnn1saa
wlftnvnxin
wlftq07kqh
wlftq1daa5
wlftq298jd
wlftq6sh5r
wlftqbgz0v
wlftqnctc1
wlftqra3wz
wlftqs3g3x
wlftqt02h9
wlftqw6r3g
wlftqx730r
wlftqy8efe
wlftr6km6g
wlftr6zryz
wlftr8rt3m
wlftr96st1
wlftrji0tq
wlftrms8fz
wlftrqf1ey
wlftrqvyxx
wlftrtndhy
wlfts3fky3
wlfts4364m
wlfts7xn4m
wlfts9qye5
wlftsadt9x
wlftsikbsr
wlftsng8x4
wlftt481bb
wlftt7mfar
wlftt8ex15
wlfttd09bc
wlftth5xrm
wlfttq4f6k
wlfttz051s
wlfttz7tjk
wlftv1yi9d
wlftv3d8e2
wlftvnemgj
wlftvr0rzd
wlftw1t31g
wlftw3inhb
wlftw7rdnf
wlftwtxcba
wlftx1nq0h
wlftx4cd72
wlftx6s40a
wlftx84ebf
wlftxbcj3e
wlftxdcqs0
wlftxfrcn2
wlftxi3qh6
wlftxn6byx
wlftxrrqwc
wlftxtjc9r
wlftxvy3fi
wlfty8qh6n
wlftycx391
wlftyk6hxb
wlftyk98zs
wlftywsy14
wlftz2b7i7
wlftz7n2vb
wlftzikqsf
wlftzmzsm3
wlftzsxqsc
work/_info
work/_lib-DESKTOP-EAR4C9C-2.qdb
work/_lib-DESKTOP-EAR4C9C.qdb
work/_lib-ThinkPad-2.qdb
work/_lib-ThinkPad.qdb
work/_lib.qdb
work/_lib1_238.qdb
work/_lib1_238.qpg
work/_lib1_238.qtl
work/_lib1_326.qpg
work/_lib1_326.qtl
work/_lib1_434.qdb
work/_lib1_434.qpg
work/_lib1_434.qtl
work/_lib1_491.qpg
work/_lib1_491.qtl
work/_lib1_567.qpg
work/_lib1_567.qtl
work/_lib1_592.qdb
work/_lib1_592.qpg
work/_lib1_592.qtl
work/_lib1_76.qdb
work/_lib1_76.qpg
work/_lib1_76.qtl
work/_vmake
